* {
    font-family: Arial;
    margin-left: 125px;
}

#title{
    color: orange;
    font-size: 70px;
    margin: 20 0;
    margin-left: 120px;
}

#text{
    font-size: 25px;
    color: SlateGray;
}

#heading{
    color: orange;
    font-size: 35px;
}

.fa.fa-mug-saucer{
    margin-left: 15px;
}

.fa.fa-check-circle-o{
    margin-left: 15px;
}

#list{
    margin-left: 12px;
    font-size: 25px;
    color: SlateGray;
}

#copyright{
    margin-left: 325px;
    color: gray;
}

/* ------ Footer ------*/



/* ----- Footer ----- */
.footer {
    width: 100%;
    padding: 30px 0;
    margin-left: 25px;
}
.icons .fa {
    margin: 0 8px;
    cursor: pointer;
    padding: 3px 0;
    font-size: 20px;
}

.fa-desktop {
    color: blue;
}

#desktop{
    margin-left: 170px;
}